<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height: 50px;background-color: aquamarine;width:100%;float: left;margin-left: 10%;padding: 0">
    <ul class="select2-dropdown">
        <li >
            功能1
        </li>
    </ul>

</div>

<div style="width: 100px;background-color: rebeccapurple;float: left;">
    <h1>
        fsdafs
    </h1>

</div>
<div style="width: 600%;background-color: blue;float: left;" >
    <h1>
        fsdafs
    </h1>


</div>


</body>
</html>